.container {
	text-align: center;
	.chart {
		text-align: center;
	}
	.details {
		font-size: 1.2rem;
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 2rem;
		table {
			display: inline-block;
			line-height: 1.7rem;
			tr {
				text-align: right;
				td {
					padding: 1rem;
				}
			}
		}
	}
}