$primary-light:	#F3843E;
$primary-dark:	#393939;
$secondary-light:	#FF5A09;
$secondary-dark:	#6E6E6E;

$primary-font: #FFF;
$secondary-font: #AAA;


$normal-font: 1rem;
$big-font: 2rem;
$small-font: 0.8rem;
